---
import Layout from "@/layouts/Layout.astro"
import formatDate from "@/utils/formatDate"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
	const posts = await getCollection("posts")

	return posts.map(post => ({
		params: { slug: post.slug },
		props: { post },
	}))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout title={post.data.title} description={post.data.description} type="article">
	<aside class="flex flex-col gap-3">
		<h1 class="text-5xl font-black">{post.data.title}</h1>
		<p class="text-lg text-zinc-600">{post.data.description}</p>
		<span>{formatDate(post.data.pubDate)}</span>
	</aside>

	<main
		class="md:prose-md prose prose-zinc mt-6 max-w-none rounded-xl bg-zinc-50 px-4 py-3 lg:prose-lg xl:prose-xl md:px-8 md:py-5"
	>
		<Content />
	</main>
</Layout>
