---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

import SEOTags from '@/components/seo/SEOTags.astro'
import '@/styles/tailwind.css'

interface Props {
	name?: string
	title?: any
	type?: any
	description?: any
	heroImage?: string
	locale?: string
	tags?: string
	canonicalURL?: any
	author?: string
}
const {
	name,
	title,
	type,
	description,
	heroImage,
	locale = 'ru',
	canonicalURL = new URL(Astro.url.pathname, Astro.site),
} = Astro.props
---

<!doctype html>
<html lang='ru'>
	<SEOTags
		title={title}
		description={description}
		name={name}
		type={type}
		heroImage={heroImage}
		locale={locale}
		canonicalURL={canonicalURL}
	/>

	<body class='bg-white text-zinc-800'>
		<main class='flex flex-col gap-[120px]'>
			<Header />
			<div class='container mx-auto max-w-6xl px-5'>
				<slot />
			</div>
			<Footer />
		</main>
	</body>
</html>
